In [1]:
import pandas as pd

In [2]:
from constants import DATA_DIR, HEADER_TEST_SAMPLE

In [3]:
train_sample = pd.read_csv(DATA_DIR + 'train_sample.tsv', sep='\t', dtype={'account_id': int, 'altered': int, 'create_ts': int,
                                                                          'industry_id': int, 'op_day': int, 'product_class': int,
                                                                          'product_id': int, 'status': int},
                          parse_dates=['op_date'])
train_sample.head()

,account_id,altered,bid,create_ts,crow,exposure_time,industry_id,op_date,op_day,product_class,product_id,sizes,status,ad_id
0,18752,0,83,1543563617,area:7572,"70368475742208,70368475742208,70368475742208,7...",136,2019-02-17,20181130,13,32534,40,1,32
1,18752,0,83,1543563617,area:7572,"70368475742208,70368475742208,70368475742208,7...",136,2019-02-18,20181130,13,32534,40,1,32
2,18752,0,83,1543563617,area:7572,"70368475742208,70368475742208,70368475742208,7...",136,2019-02-19,20181130,13,32534,40,1,32
3,789,1,100,1551916367,area:6410,"4398045462528,4398045462528,4398045462528,4398...",98,2019-03-06,20190306,13,18194,30,1,84
4,6944,1,70,1551253927,"age:217,601,202,837,942,638,287,5,394,347,731,...","281474976694272,281474976694272,28147497669427...",170,2019-02-27,20190227,13,11250,34,1,85

In [4]:
print(len(train_sample))
print(train_sample.altered.sum())
print(train_sample.status.sum())

167168
23776
167168

In [5]:
train_sample.dtypes

account_id                int64
altered                   int64
bid                       int64
create_ts                 int64
crow                     object
exposure_time            object
industry_id               int64
op_date          datetime64[ns]
op_day                    int64
product_class             int64
product_id                int64
sizes                     int64
status                    int64
ad_id                     int64
dtype: object

In [6]:
from datetime import timedelta
gap = timedelta(days=1)
train_sample['next_day'] = pd.to_datetime(train_sample.op_date.dt.date + gap).dt.strftime('%Y%m%d').astype(int)
train_sample.head()

,account_id,altered,bid,create_ts,crow,exposure_time,industry_id,op_date,op_day,product_class,product_id,sizes,status,ad_id,next_day
0,18752,0,83,1543563617,area:7572,"70368475742208,70368475742208,70368475742208,7...",136,2019-02-17,20181130,13,32534,40,1,32,20190218
1,18752,0,83,1543563617,area:7572,"70368475742208,70368475742208,70368475742208,7...",136,2019-02-18,20181130,13,32534,40,1,32,20190219
2,18752,0,83,1543563617,area:7572,"70368475742208,70368475742208,70368475742208,7...",136,2019-02-19,20181130,13,32534,40,1,32,20190220
3,789,1,100,1551916367,area:6410,"4398045462528,4398045462528,4398045462528,4398...",98,2019-03-06,20190306,13,18194,30,1,84,20190307
4,6944,1,70,1551253927,"age:217,601,202,837,942,638,287,5,394,347,731,...","281474976694272,281474976694272,28147497669427...",170,2019-02-27,20190227,13,11250,34,1,85,20190228

In [7]:
label = pd.read_csv(DATA_DIR + 'label.tsv', sep='\t', names=['ad_id', 'next_day', 'label'], header=0) 
dataset = label.merge(train_sample[[col for col in train_sample.columns if col not in ('status', )]])
to_rep_cols = [col for col in HEADER_TEST_SAMPLE if col in dataset.columns]
dataset[to_rep_cols] = dataset[to_rep_cols].replace(-1, 0)  # libffm
print(len(dataset))
dataset

58554

,ad_id,next_day,label,account_id,altered,bid,create_ts,crow,exposure_time,industry_id,op_date,op_day,product_class,product_id,sizes
0,10003,20190222,2,6539,0,31,1547593423,area:7572,"281474976694272,281474976694272,28147497669427...",186,2019-02-21,20190115,13,9446,30
1,100046,20190309,2,22818,0,150,1546206412,area:3269,"281474976694272,281474976694272,28147497669427...",17,2019-03-08,20181230,13,20433,34
2,100046,20190310,1,22818,0,150,1546206412,area:3269,"281474976694272,281474976694272,28147497669427...",17,2019-03-09,20181230,13,20433,34
3,100046,20190314,1,22818,0,150,1546206412,area:3269,"281474976694272,281474976694272,28147497669427...",17,2019-03-13,20181230,13,20433,34
4,100091,20190219,5,1385,0,31,1546292099,area:7572,"281474976694272,281474976694272,28147497669427...",84,2019-02-18,20181231,13,24175,30
5,100104,20190219,1,239,0,31,1536495666,area:7572,"281474976694272,281474976694272,28147497669427...",17,2019-02-18,20180909,13,15757,30
6,100104,20190222,12,239,1,150,1536495666,area:7572,"281474976694272,281474976694272,28147497669427...",17,2019-02-21,20190221,13,15757,30
7,100104,20190225,4,239,1,133,1536495666,area:7572,"281474976694272,281474976694272,28147497669427...",17,2019-02-24,20190224,13,15757,30
8,100104,20190227,3,239,1,129,1536495666,area:7572,"281474976694272,281474976694272,28147497669427...",17,2019-02-26,20190226,13,15757,30
9,100104,20190228,9,239,0,129,1536495666,area:7572,"281474976694272,281474976694272,28147497669427...",17,2019-02-27,20190226,13,15757,30
10,100104,20190309,3,239,1,117,1536495666,area:7572,"281474976694272,281474976694272,28147497669427...",17,2019-03-08,20190308,13,15757,30
11,100129,20190308,46,12522,1,30,1551434515,all,"70368743129088,70368743129088,70368743129088,7...",122,2019-03-07,20190307,13,10267,30
12,100152,20190226,21,15054,0,100,1514951826,area:11414,"4398042316800,4398042316800,4398042316800,4398...",172,2019-02-25,20180103,13,21940,40
13,100152,20190303,10,15054,1,36,1514951826,area:11414,"4398042316800,4398042316800,4398042316800,4398...",172,2019-03-02,20190302,13,21940,40
14,100212,20190220,119,20557,1,91,1550469279,"age:347,787,753,601,522,202,229,741,819,479,43...","281474976710655,281474976710655,28147497671065...",192,2019-02-19,20190219,1,0,64
15,100212,20190221,119,20557,0,91,1550469279,"age:347,787,753,601,522,202,229,741,819,479,43...","281474976710655,281474976710655,28147497671065...",192,2019-02-20,20190219,1,0,64
16,100243,20190317,34,19726,1,150,1552558339,"age:217,601,79,202,837,942,638,394,347,731,739...","281474976645120,281474976645120,28147497664512...",146,2019-03-16,20190316,13,25138,30
17,100258,20190316,2,17077,1,200,1552037639,"area:8934,10102,7176","281474976710655,281474976710655,28147497671065...",153,2019-03-15,20190315,1,0,64
18,100258,20190317,7,17077,0,200,1552037639,"area:8934,10102,7176","281474976710655,281474976710655,28147497671065...",153,2019-03-16,20190315,1,0,64
19,100258,20190318,7,17077,0,200,1552037639,"area:8934,10102,7176","281474976710655,281474976710655,28147497671065...",153,2019-03-17,20190315,1,0,64
20,100258,20190319,5,17077,0,200,1552037639,"area:8934,10102,7176","281474976710655,281474976710655,28147497671065...",153,2019-03-18,20190315,1,0,64
21,100290,20190218,3,25382,0,84,1533627124,area:7572,"281474976694272,281474976694272,28147497669427...",17,2019-02-17,20180807,13,13604,1
22,100290,20190219,3,25382,0,84,1533627124,area:7572,"281474976694272,281474976694272,28147497669427...",17,2019-02-18,20180807,13,13604,1
23,100320,20190218,1,1105,0,107,1544437860,area:7572,"281474976694272,281474976694272,28147497669427...",17,2019-02-17,20181210,13,10091,30
24,100320,20190221,9,1105,0,107,1544437860,area:7572,"281474976694272,281474976694272,28147497669427...",17,2019-02-20,20181210,13,10091,30
25,100320,20190222,4,1105,0,107,1544437860,area:7572,"281474976694272,281474976694272,28147497669427...",17,2019-02-21,20181210,13,10091,30
26,100320,20190223,1,1105,0,107,1544437860,area:7572,"281474976694272,281474976694272,28147497669427...",17,2019-02-22,20181210,13,10091,30
27,100320,20190228,1,1105,0,107,1544437860,area:7572,"281474976694272,281474976694272,28147497669427...",17,2019-02-27,20181210,13,10091,30
28,100320,20190303,34,1105,0,107,1544437860,area:7572,"281474976694272,281474976694272,28147497669427...",17,2019-03-02,20181210,13,10091,30
29,100320,20190304,12,1105,0,107,1544437860,area:7572,"281474976694272,281474976694272,28147497669427...",17,2019-03-03,20181210,13,10091,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58524,99681,20190228,51,1862,0,104,1530313638,area:7572,"70368743915520,70368743915520,70368743915520,7...",118,2019-02-27,20180629,13,32515,40
58525,99681,20190301,32,1862,0,104,1530313638,area:7572,"70368743915520,70368743915520,70368743915520,7...",118,2019-02-28,20180629,13,32515,40
58526,99681,20190302,84,1862,0,104,1530313638,area:7572,"70368743915520,70368743915520,70368743915520,7...",118,2019-03-01,20180629,13,32515,40
58527,99681,20190303,102,1862,0,104,1530313638,area:7572,"70368743915520,70368743915520,70368743915520,7...",118,2019-03-02,20180629,13,32515,40
58528,99681,20190304,64,1862,0,104,1530313638,area:7572,"70368743915520,70368743915520,70368743915520,7...",118,2019-03-03,20180629,13,32515,40
58529,99681,20190305,104,1862,0,104,1530313638,area:7572,"70368743915520,70368743915520,70368743915520,7...",118,2019-03-04,20180629,13,32515,40
58530,99681,20190306,82,1862,0,104,1530313638,area:7572,"70368743915520,70368743915520,70368743915520,7...",118,2019-03-05,20180629,13,32515,40
58531,99681,20190307,102,1862,0,104,1530313638,area:7572,"70368743915520,70368743915520,70368743915520,7...",118,2019-03-06,20180629,13,32515,40
58532,99681,20190308,216,1862,0,104,1530313638,area:7572,"70368743915520,70368743915520,70368743915520,7...",118,2019-03-07,20180629,13,32515,40
58533,99681,20190309,125,1862,0,104,1530313638,area:7572,"70368743915520,70368743915520,70368743915520,7...",118,2019-03-08,20180629,13,32515,40
58534,99681,20190310,149,1862,0,104,1530313638,area:7572,"70368743915520,70368743915520,70368743915520,7...",118,2019-03-09,20180629,13,32515,40
58535,99681,20190311,84,1862,0,104,1530313638,area:7572,"70368743915520,70368743915520,70368743915520,7...",118,2019-03-10,20180629,13,32515,40
58536,99681,20190312,84,1862,0,104,1530313638,area:7572,"70368743915520,70368743915520,70368743915520,7...",118,2019-03-11,20180629,13,32515,40
58537,99681,20190313,122,1862,0,104,1530313638,area:7572,"70368743915520,70368743915520,70368743915520,7...",118,2019-03-12,20180629,13,32515,40
58538,99681,20190314,69,1862,0,104,1530313638,area:7572,"70368743915520,70368743915520,70368743915520,7...",118,2019-03-13,20180629,13,32515,40
58539,99681,20190315,198,1862,0,104,1530313638,area:7572,"70368743915520,70368743915520,70368743915520,7...",118,2019-03-14,20180629,13,32515,40
58540,99681,20190316,167,1862,0,104,1530313638,area:7572,"70368743915520,70368743915520,70368743915520,7...",118,2019-03-15,20180629,13,32515,40
58541,99681,20190317,217,1862,0,104,1530313638,area:7572,"70368743915520,70368743915520,70368743915520,7...",118,2019-03-16,20180629,13,32515,40
58542,99698,20190219,1,12716,0,166,1534019792,area:7572,"70300076064768,70300076064768,70300076064768,7...",84,2019-02-18,20180811,13,24782,30
58543,9970,20190221,2,9436,1,91,1540981895,"age:217,601,79,202,837,942,638,394,347,731,739...","70368744161280,70368744161280,70368744161280,7...",146,2019-02-20,20190220,13,20243,34
58544,9970,20190305,1,9436,1,100,1540981895,"age:217,601,79,202,837,942,638,394,347,731,739...","281474976694272,281474976694272,28147497669427...",146,2019-03-04,20190304,13,20243,34
58545,9970,20190306,3,9436,0,100,1540981895,"age:217,601,79,202,837,942,638,394,347,731,739...","281474976694272,281474976694272,28147497669427...",146,2019-03-05,20190304,13,20243,34
58546,9970,20190307,3,9436,0,100,1540981895,"age:217,601,79,202,837,942,638,394,347,731,739...","281474976694272,281474976694272,28147497669427...",146,2019-03-06,20190304,13,20243,34
58547,9970,20190308,2,9436,0,100,1540981895,"age:217,601,79,202,837,942,638,394,347,731,739...","281474976694272,281474976694272,28147497669427...",146,2019-03-07,20190304,13,20243,34
58548,9970,20190317,2,9436,1,100,1540981895,"age:217,601,79,202,837,942,638,394,347,731,739...","281474976694272,281474976694272,28147497669427...",146,2019-03-16,20190316,13,20243,34
58549,9970,20190319,1,9436,0,100,1540981895,"age:217,601,79,202,837,942,638,394,347,731,739...","281474976694272,281474976694272,28147497669427...",146,2019-03-18,20190316,13,20243,34
58550,99729,20190220,7,20121,1,100,1548158520,all,"70093866270720,70093866270720,70093866270720,7...",122,2019-02-19,20190219,13,9042,40
58551,99729,20190223,3,20121,1,83,1548158520,all,"70093866270720,70093866270720,70093866270720,7...",122,2019-02-22,20190222,13,9042,40
58552,9979,20190219,51,14116,1,109,1534300227,"age:217,202,837,602,935,942,638,287,5,394,536,...","281474976702464,281474976702464,28147497670246...",113,2019-02-18,20190218,3,0,64
58553,99919,20190317,1,3056,1,150,1551994855,area:11442,"70368693583872,70368693583872,70368693583872,7...",17,2019-03-16,20190316,13,23063,30

In [8]:
dataset.to_hdf(DATA_DIR + 'clean_data.h5', 'dataset')
dataset.to_csv(DATA_DIR + 'dataset.tsv', index=None, sep='\t')

In [9]:
# libffm, id
id_set = {'sizes', 'industry_id', 'product_class', 'product_id', 'account_id'}
def make_libffm(values, col, idx, id_set):
    if col in id_set:
        # 
        sorted_int_values = sorted(set((int(v) for v in values.strip(',').split(',')
                                       )))
        return ' '.join(('%s:%s:1' % (idx, v) for v in sorted_int_values))
    if col == 'bid':
        return '%s:0:%s' % (idx, values)
    if col == 'exposure_time':
        bin_values = ''.join([bin(int(x))[2:].zfill(48) for x in values.split(',')])
        return ' '.join(['%s:%s:%s' % (idx, k, v) for k, v in enumerate(bin_values)])
    if col == 'crow':
        pass
    raise Exception('unknow col: %s' % col)

user_fea_idx_plus = {}
user_fea_col = ['age', 'gender', 'area', 'status', 'education', 'consuptionAbility', 'os', 'work', 'connectionType', 'behavior']
user_fea_id_set = set(user_fea_col)
for idx, col in enumerate(user_fea_col):
    user_fea_idx_plus[col] = idx

sep_label_fea=' '
all_crow_v = '|'.join(['%s:0' % col for col in user_fea_col])
# crow, , crow
fea_cols = ['sizes', 'industry_id', 'product_class', 'product_id', 'account_id', 'exposure_time', 'bid', 'crow']

def _get_libffm_line(tup):
    line = str(tup.label)
    # 
    for idx, col in enumerate(fea_cols):
        if col == 'crow':
            crow = tup.crow
            if crow == 'all':
                crow = all_crow_v
            kvs = {}
            for crow_kv in crow.split('|'):
                crow_col, values = crow_kv.split(':')
                kvs[crow_col] = values
            # user_fea0
            for crow_col in user_fea_col:
                values = kvs.get(crow_col, '0')
                line += ' ' + make_libffm(values, crow_col, idx+user_fea_idx_plus[crow_col], user_fea_id_set)
        else:
            values = str(tup[idx])
            line += ' ' + make_libffm(values, col, idx, id_set)
            
    return line

with open(DATA_DIR + 'data.libffm', 'w') as f:
    for tup in dataset[fea_cols + ['label']].itertuples(index=False):
        f.write('%s\n' % _get_libffm_line(tup))