In [1]:
import pandas as pd
from constants import DATA_DIR, HEADER_USER

In [2]:
user = pd.read_csv(DATA_DIR + 'user_data', sep='\t', header=None, names=HEADER_USER,
                   index_col=False, quotechar='\t')
user.head()

,uid,age,gender,area,status,education,consuptionAbility,os,work,connectionType,behavior
0,624218,753,2,"523,7589,12527,9019,14605,13489,302,6222,14214...",0,6,1,2,0,4,"32612,34406,3413,33059,4275,4667,4561,34051,42..."
1,271475,601,3,"9019,9032,663,12527,14532,2416,2599,1987,9687,...",13,7,2,2,0,2,"4990,4992,3413,33061,4115,4876,2393,34167,3441..."
2,44439,819,3,"12527,14188,9841,9019,14605,6222,9962,6643,172...",13,7,3,2,4,4,"3099,4403,34414,431,34415,5108,31686,3240,3229..."
3,863717,1,2,"12527,3435,2398,11069,1292,9019,14605,14348,62...",6,5,3,2,0,2,"34293,845,3413,3099,33061,33059,4120,4410,4415..."
4,1305469,714,3,"8928,9019,1540,719,12527,6051,10545,12118,7107...",13,5,3,2,0,2,"32612,34289,34406,3413,4275,4410,4561,34051,34..."

In [3]:
user.describe()

,uid,age,gender,education,consuptionAbility,os,connectionType
count,1.396718e+06,1.396718e+06,1.396718e+06,1.396718e+06,1.396718e+06,1.396718e+06,1.396718e+06
mean,6.983595e+05,5.263470e+02,2.499745e+00,4.779004e+00,2.161956e+00,2.186646e+00,2.817688e+00
std,4.031979e+05,2.806423e+02,5.654588e-01,2.086811e+00,8.310177e-01,3.951378e-01,1.025974e+00
min,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00
25%,3.491802e+05,3.330000e+02,2.000000e+00,2.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00
50%,6.983595e+05,5.360000e+02,3.000000e+00,5.000000e+00,2.000000e+00,2.000000e+00,2.000000e+00
75%,1.047539e+06,7.870000e+02,3.000000e+00,6.000000e+00,3.000000e+00,2.000000e+00,4.000000e+00
max,1.396718e+06,9.880000e+02,3.000000e+00,8.000000e+00,3.000000e+00,4.000000e+00,5.000000e+00

In [4]:
user.dtypes

uid                   int64
age                   int64
gender                int64
area                 object
status               object
education             int64
consuptionAbility     int64
os                    int64
work                 object
connectionType        int64
behavior             object
dtype: object

In [5]:
user.age.describe()

count    1.396718e+06
mean     5.263470e+02
std      2.806423e+02
min      0.000000e+00
25%      3.330000e+02
50%      5.360000e+02
75%      7.870000e+02
max      9.880000e+02
Name: age, dtype: float64

In [6]:
from collections import defaultdict
user_single_split = {'age': defaultdict(set), 'gender': defaultdict(set), 'education': defaultdict(set),
                     'consuptionAbility': defaultdict(set), 'os': defaultdict(set), 'connectionType': defaultdict(set)}
user_multi_split = {'area': defaultdict(set), 'status': defaultdict(set), 'work': defaultdict(set), 'behavior': defaultdict(set)}

In [7]:
# age, os 有零值
for col in user_single_split:
    print(col, user[col].max(), user[col].min(), user[col].mean(), user[col].std(), user[col].std() / user[col].mean())

('gender', 3, 1, 2.4997451167665914, 0.5654588072037766, 0.22620658538787144)
('age', 988, 0, 526.3470013273975, 280.64230816255355, 0.5331887660702922)
('connectionType', 5, 1, 2.8176883236272463, 1.0259741993473175, 0.3641191223117849)
('consuptionAbility', 3, 1, 2.161956099942866, 0.8310177086300798, 0.38438232332841593)
('education', 8, 1, 4.77900406524438, 2.0868111611559703, 0.4366623532154829)
('os', 4, 0, 2.186646123268978, 0.3951378026996519, 0.18070496112509113)